<?xml version="1.0" encoding="GB2312"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <!-- 系统级别日志记录APPENDER -->
    <appender name="PROJECT" class="org.apache.log4j.FileAppender">
        <param name="file" value="dummy.log"/>
        <param name="append" value="true"/>
        <param name="encoding" value="GBK"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %m%n"/>
        </layout>
    </appender>

    <logger name="dummy" additivity="false">
        <level value="debug"/>
        <appender-ref ref="PROJECT"/>
    </logger>

    <root>
        <level value="debug"/>
        <appender-ref ref="PROJECT"/>
    </root>
</log4j:configuration>
